.itimFont{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.ubuntuFont {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
    background-color: #2C2C2C;;
  }

/* Header */
header{
    background-color: #222222;
    padding: 0 212px;
    height: 152px;
    display: flex;
}

.logoContainer{
    display: flex;
    color: #FAFAFA;
    gap: 10px;
   
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-left: auto;
}

button{
    border-radius: 25px;
    height: 50px;
    border: none;
    font-size: 18px;
    padding: 0 30px;
    color: #FAFAFA;
    min-width: fit-content;
}

.lightWhiteBtn{
    color: #585858;
    background-color: #E0E0E0;
}

.pinkBtn{
    background-color: #FF6C93;
}

.redBtn{
    background-color: #FF366B;
}

/* Hero section */

#heroSection{
    display: flex;
    padding: 168px 0;
    justify-content: center;
    color: #FAFAFA;
    gap: 60px;
}

.headlineSizeL{
    font-size: 40px;
}

.textSizeM{
    font-size: 20px;
    line-height: 1.5;
    color: #FAFAFA;
}

.textContainer{
    width: 400px;
}

.purpleText{
    color: #CF95D8;
}

/* Signature Dish section */
#signatureDishesSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    color: #FAFAFA;
}

.headlineSizeM{
    font-size: 30px;
    color: #FAFAFA;
    margin: 15px;
}

.slider{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.card{
    height: 336px;
    width: 271px;
    border-radius: 50px;
    margin-top: 150px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 30px;

}

.brightYellow{
    background-color: #FFD13B;
}

.grey{
    background-color: #717171;
}

.pastelYellow{
    background-color: #FCF389;
}

.headlineSizeS{
    font-size: 20px;
}

.darkText{
    color: #585858; 
}

.cardIllustration,
.cardHeadline,
.cardText,
.cardBtn{
    position: relative;
    top: -80px;
}

.cardBtn{
    min-height: 50px;
}





/* Beginnings Section */
#beginningsSection{
    display: flex;
    padding: 168px 0;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;
    gap: 60px;
}

.redText{
    color: #FF366B;
}


.purpleBtn{
    background-color: #BA68C8;
}



/* Footer */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    gap: 60px;

}






  
